<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="ISO-8859-1" />
<title>Expense Manager</title>
<link rel="stylesheet" th:href="@{/themes/appcoretech/css/custom.css}"></link>
<script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/js/expmanager.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/jquery-ui.min.1.11.1.js}"></script> -->
<script type="text/javascript"
	th:src="@{/themes/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript"
	th:src="@{/themes/bootstrap/js/plugin/bootstrap-datepicker.js}"></script>

</head>
<body>
	<!-- Footer -->
	<div th:fragment="footer-common">
		<section class="container footer-in">
			<div class="footer">
				<div class="row">
					<div class="col-sm-12" style="text-align: center;">
						<b>&#169; Copyright 2015 <a
							href="http://appcoretech.com/"> Appcoretech Limited.</a></b>
					</div>
				</div>
			</div>
		</section>	
	</div>
</body>
</html>